*{

}
.main-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    width: 100%;
    height: 100vh;
    grid-template-rows: 10vh 40vh 30vh 20vh;
    gap: 1rem;
}

.navbar{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: bisque;
    border: 1px solid gray;
}
.sidebar{
    grid-row: 2 / -1;
    /* grid-column: 1 / 2; */
    background-color: aqua;
    border: 1px solid gray;
}
.main{
    grid-column: 2 / -1;
    background-color: blueviolet;
    border: 1px solid gray;
}
