*{

}
.main-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    width: 100%;
    height: 100vh;
    grid-template-rows: 10vh 40vh 30vh 20vh;
    gap: 1rem;
}

.navbar{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: bisque;
    border: 1px solid gray;
}
.sidebar{
    grid-row: 2 / -1;
    /* grid-column: 1 / 2; */
    background-color: aqua;
    border: 1px solid gray;
}
.main{
    grid-column: 2 / -1;
    background-color: blueviolet;
    border: 1px solid gray;
}
.container{
    border: 1px solid gray;
}
.footer{
    grid-column: 2 / -1;
    background-color: cadetblue;
    border: 1px solid gray;
}

@media screen and (max-width:768px)
{
    h1{
        font-size: medium;
    }
    .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 1fr 0.7fr 0.7fr 0.7fr 0.6fr;
        /* grid-template-rows: auto; */
    }
    .sidebar,.navbar,.main,.footer,.container{
        grid-column-start: 1;
        grid-row: auto;
    }
    .sidebar{
        /* grid-row: 2 / 3; */
    }
    
}